# Example .htpasswd
# Generate a password hash using: htpasswd -nbB admin yourpassword
# This file should be placed outside web root or at the location referenced by .htaccess
# Example entry (DO NOT USE THIS PASSWORD):
admin:$2y$05$abcdefghijklmnopqrstuvwxzy0123456789ABCDEFghi

# To create a proper .htpasswd file on Ubuntu with apache2-utils:
# sudo apt update
# sudo apt install apache2-utils
# htpasswd -c .htpasswd admin
# (enter password when prompted)
