<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Сайт</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="site-root">
  <header class="site-header">
    <div class="container">
      <h1 class="logo">СЗПП</h1>
      <nav>
        <ul class="nav">
          <li><a href="index.html">Главная</a></li>
          <li><a href="about.html">О нас</a></li>
          <li><a href="szpp.html">СЗПП</a></li>
          <li><a href="contact.html">Контакт</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="container">
    <!-- CONTENT_PLACEHOLDER -->
  </main>

  <footer class="site-footer">
    <div class="container">© СЗПП - 2025</div>
  </footer>
  </div>
</body>
</html>
